.item {
  padding: auto;
}

.weather-indicators {
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-right: 15%;
  margin-bottom: 1rem;
  margin-left: 15%;
}
.weather-indicators .indicator-text {
  font-size: 1rem;
  cursor: pointer;
  text-decoration: underline;
  transition: color 0.3s;
}
.weather-indicators .indicator-text.active {
  color: #6c757d;
  text-decoration: none;
}
.weather-indicators .indicator-text:hover {
  color: #5a6268;
}

.logout {
  margin-top: 1rem;
  margin-right: 1rem;
}

@media (max-width: 576px) {
  .item {
    border: 1px solid #ccc;
    background-color: #fbf9f9;
    padding: 10px;
    border-radius: 5px;
  }
  .weather-indicators .indicator-text {
      font-size: 0.9rem;
  }
  
}

@media (min-width: 577px) and (max-width: 768px) {
    .item {
      border: 1px solid #ccc;
      background-color: #fbf9f9;
      padding: 10px;
      border-radius: 5px;
  }
  .weather-indicators .indicator-text {
      font-size: 1rem;
  }
}

@media (min-width: 769px) {
  .weather-indicators .indicator-text {
      font-size: 1.1rem;
  }
}
